<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/work">Work Experience</a>
        <a href="/projects">Projects</a>
    </nav>
    <main>
        {{template "content" .}}
    </main>
</body>

</html>